/* Переменные */
:root {
  --text-color-primary: #212121;
  --text-color-secondary: #757575;
  --text-color-accent: #2196f3;
  --text-color-head-footer: #ffffff;
  --bg-color-primary: #ffffff;
  --bg-color-secondary: #f5f4fa;
  --bg-color-head-footer: #2f303a;
  --bg-color-portfolio: #ffffff;
}

body {
  background-color: var(--bg-color-primary);
  color: var(--text-color-primary);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none; /* сбрасывает точки в списке */
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.line {
  border: 1px solid #ececec;
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Header */

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  display: inline-block;

  color: #000000;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none; /* Убираем подчеркивание в ссылках */
}

.logo span {
  color: var(--text-color-accent);
}

/* Site nav */
.site-nav {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  display: flex;
  margin-left: 93px;
}
.link {
  padding: 24px 0;
}

.header-main li:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  color: var(--text-color-primary);
  text-decoration: none; /* Убираем подчеркивание в ссылках */
}
/* Contacts nav */
.contact-nav {
  display: flex;
}
.contact-nav .link {
  color: var(--text-color-secondary);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none; /* Убираем подчеркивание в ссылках */
}

/* Свойства навидений */
.header .link:hover,
.header .link:focus {
  color: var(--text-color-accent);
}

.header .link.current {
  color: var(--text-color-accent);
}

/* Шапка. Основной экран */
.hero {
  background-color: var(--bg-color-head-footer);
}

/**** Hero ****/

.hero-container {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  color: var(--text-color-head-footer);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hero .button {
  padding: 10px 32px;
  color: var(--text-color-head-footer);

  background-color: var(--text-color-accent);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  border: 0;
  border-radius: 4px;
}

.button:active {
  background: #188ce8;
}

/* ********* Main ********* */

/* Особливості */
.special-list {
  display: flex;
}

.special-list > .special-card:not(:last-child) {
  margin-right: 30px;
}

.special-card {
  width: 270px;
}
.special-list-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.special-list-text {
  color: var(--text-color-secondary);
  font-size: 14px;
  line-height: 1.71;
}

/* Чим займаємось */

.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.work-title {
  margin-top: -94px; /* ???? как подругому снизить */
}

.work-list {
  display: flex;
  gap: 30px;
}

/* Наша Команда */

.color-two {
  background-color: var(--bg-color-secondary);
}

.team-title {
  /* Можно объеденить с .work-title  */
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card {
  background-color: var(--bg-color-primary);
}

.team-content {
  text-align: center;
  padding: 30px 0;
}

.team-list-item {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
}

.team-list-text {
  color: var(--text-color-secondary);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* Footer */
.footer {
  background-color: var(--bg-color-head-footer);
}

.footer-address {
  display: flex;
  flex-direction: column;
  padding: 60px 0;
}

.footer-logo {
  color: var(--text-color-head-footer);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none; /* Убираем подчеркивание в ссылках */
  margin-bottom: 20px;
}
.footer-logo span {
  color: var(--text-color-accent);
}

.address {
  color: var(--text-color-head-footer);
}

.mail {
  display: inline;

  margin-bottom: 900px;
}

.footer .street {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 9px;
}

.address a {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

/* ******* Страница Портфолио ******* */

/* Filter */

.filter {
  margin-bottom: 50px;
}

.filter-set {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.filter-item {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}

.filter-button {
  padding: 6px 22px;
  cursor: pointer;
  border: 0;
  background-color: var(--bg-color-secondary);
  border-radius: 4px;
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--text-color-accent);
  color: var(--text-color-head-footer);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Card-set */

.card-set {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.card-set > .item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

/* Card */

.card-content {
  padding: 20px 24px 20px 24px;
}

.card-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card-text {
  margin-top: 4px;
  color: var(--text-color-secondary);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}

/* Тень карточки (сейчас необязательно) */

.card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
}
